body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* The css code for the Header of the solo project Home Town */
.header {
    height: 560px;;
    width:auto;
    background-image: url("torshov-image.svg");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.first-heading {
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 37px;
    width: 430px;
    height: 45px;
    background-color: #1D3557;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 0;



}

.first-paragraph {
    text-align: center;
    background-color: #457B9D;
    font-size: 19px;
    font-weight: 700;
    color: #FFFFFF;
    width: 580px;
    border-radius: 10px;
    letter-spacing: 3.5px;
}
/* The css code for the Body of the solo project Home Town */
.main {
    background-color: #F1FAEE;
    width: auto;
    height: 429px;
    margin-bottom: 50px;
}
.main-header {
    display: inline-block;
    margin-top: 50px;
    color: #1D3557;
}
.main-activities {
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img {
    border-radius: 50%;
}
.img-header {
    color: #1D3557;
    font-size: 15px;
    font-weight: 700;
}
.img-content {
 color: #1D3557;
}
/* This is the code for the footer of the project */
.footer {
    background-color: #FFFFFF;
    width: auto;
    height: 350px;
}
.card {
    background-color: #A8DADC;
    width: 430px;
    height: 285px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    color: #1D3557;
}
.card-img {
    width: 180px;
    height: 248.67px;
    border-radius: 1px;
    padding: 10px;
}
.card-header {
    font-size: 24px;
}
.card-footer-txt {
    font-size: 20px;
}